#splash {
    @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
    @import "../../../node_modules/bootstrap/scss/functions";
    @import "../../../node_modules/bootstrap/scss/variables";
    @import "../../../node_modules/bootstrap/scss/mixins";
   
    $screen-lg-min : 991px;
    $screen-md-min: 768px;
    $screen-sm-min: 577px;
    $screen-sm-max: 767px;
    $screen-xs-max :576px;

//-----------------------------------------------------------------------
// extend Bootstrap
//-----------------------------------------------------------------------

@media (min-width: 1200px) {
  .container {
  	width: 970px;
    //width: 1170px;
  }
}

.container.no-gutters {
	padding-left: 0;
	padding-right: 0;
}

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;

	& > [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

@media(max-width: $screen-xs-max) {
	.text-left--xs { text-align: left; }
	.text-center--xs { text-align: center; }
	.text-right--xs { text-align: right; }

	.block--xs {
		display: block;
	}

	.container.no-gutters--xs {
		padding-left: 0;
		padding-right: 0;
	}

	.row.no-gutters--xs {
		margin-right: 0;
		margin-left: 0;

		& > [class*="col-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}
} // end xs

@media(min-width: $screen-sm-min) {
	.text-left--sm { text-align: left; }
	.text-center--sm { text-align: center; }
	.text-right--sm { text-align: right; }

	.block--sm {
		display: block;
	}

	.container.no-gutters--sm {
		padding-left: 0;
		padding-right: 0;
	}

	.row.no-gutters--sm {
		margin-right: 0;
		margin-left: 0;

		& > [class*="col-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}
} // end sm

@media(min-width: $screen-md-min) {
	.text-left--md { text-align: left; }
	.text-center--md { text-align: center; }
	.text-right--md { text-align: right; }

	.block--md {
		display: block;
	}

	.container.no-gutters--md {
		padding-left: 0;
		padding-right: 0;
	}

	.row.no-gutters--md {
		margin-right: 0;
		margin-left: 0;

		& > [class*="col-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}
} // end md

@media(min-width: $screen-lg-min) {
	.text-left--lg { text-align: left; }
	.text-center--lg { text-align: center; }
	.text-right--lg { text-align: right; }

	.block--lg {
		display: block;
	}

	.container.no-gutters--lg {
		padding-left: 0;
		padding-right: 0;
	}

	.row.no-gutters--lg {
		margin-right: 0;
		margin-left: 0;

		& > [class*="col-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}
} // end lg

//-----------------------------------------------------------------------
// vars
//-----------------------------------------------------------------------

//gray
$color-gray-white: #f5f5f5;
$color-gray-lightest: #f3f3f3;
$color-gray-lighter: #ddd;
$color-gray-light: #ccc;
$color-gray: #555;
$color-gray-dark: #333;
// green
$color-green: #6cbb45;
$color-green-dark: darken($color-green, 15%);
// white
$color-white: #fff;

$color-gray-blue: #4c5760;
$color-red: #b72b2b;
$color-red-light: lighten($color-red, 10%);

//-----------------------------------------------------------------------
// Bootstrap vars
//-----------------------------------------------------------------------

$brand-primary: $color-green;

//-----------------------------------------------------------------------
// mixins
//-----------------------------------------------------------------------

@mixin border-radius($radius: 4px){
	-webkit-border-radius:   $radius;
	-moz-border-radius:      $radius;
	border-radius:           $radius;
	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

@mixin transition($transition){
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
}

//-----------------------------------------------------------------------
// h5bp
//-----------------------------------------------------------------------

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

textarea {
	resize: vertical;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

//-----------------------------------------------------------------------
// global
//-----------------------------------------------------------------------

.block {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

//-----------------------------------------------------------------------
// typography
//-----------------------------------------------------------------------

// scale: 16px, 28px $ 1.5
// http://www.modularscale.com/?16,28&px&1.5&web&text
// 12, 16, 19, 24, 28, 36, 42, 54, 63, 81, 95

body,
.body {
	font-family: 'proxima-nova',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.75;
	color: $color-gray;
	background: $color-white;
}

$font-size: 16px;
$line-height:  28px;

$font-size-h1: 36px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 19px;
$font-size-h5: 16px;
$font-size-h6: 12px;

p, ul, ol {
	margin: $line-height 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "proxima-nova",sans-serif;
	line-height: 1.25;
}

h1, .h1 {
	margin: 0 0 ($line-height * 1) 0;
	font-size: $font-size-h2;
	font-weight: 700;
	@media(min-width: $screen-sm-min) {
		font-size: $font-size-h1;
	}
}

h2, .h2 {
	margin: 0 0 ($line-height * 1) 0;
	font-size: $font-size-h3;
	font-weight: 300;
	@media(min-width: $screen-sm-min) {
		font-size: $font-size-h2;
	}
}

h3, .h3 {
	font-size: $font-size-h4;
	@media(min-width: $screen-sm-min) {
		font-size: $font-size-h3;
	}
}

h4, .h4 {
	font-size: $font-size-h5;
	@media(min-width: $screen-sm-min) {
		font-size: $font-size-h4;
	}
}

h5, .h5 {
	font-size: $font-size-h5;
}

h6, .h6 {
	font-size: $font-size-h6;
}

label {
	font-weight: normal;;
}

.vertical-space {
	padding-top: $line-height * 2;
	padding-bottom: $line-height * 2;
}
.vertical-space--top {
	padding-top: $line-height * 2;
}
.vertical-space--bottom {
	padding-bottom: $line-height * 2;
}

hr {
	margin: ($line-height * 2) 0;
	height: 1px;
	background: $color-gray;
	border: none;
}

//--------------------------------------------------------------------------------
// forms
//--------------------------------------------------------------------------------


textarea {
	min-height: $line-height * 6;
}

.form-control {
	height: 50px;
	border: 1px solid $color-gray-lighter;
	border-radius: 2px;
}

//--------------------------------------------------------------------------------
// buttons and links
//--------------------------------------------------------------------------------

.btn {
	border-radius : 40px;
	@include transition(all 0.2s ease);
	color: $color-green;

	&:hover,
	&:active {
		color: $color-green-dark;
	}
}

a {
	color: $color-green;

	&:hover,
	&:active {
		color: $color-green-dark;
	}
}

.btn-default {
    background-color: #f4f4f4;    
    border-color: #ddd;
}

.btn-primary {
	color: $color-white;
	background: $color-green;
	border: none;

	&:hover,
	&:active {
		color: $color-white;
		background: $color-green-dark;
		border: none;
	}
}

.dropdown-toggle {
	&:hover,
	&:active {
		color: $color-green;
		background: $color-white;
	}
}

//-----------------------------------------------------------------------
// navbar
//-----------------------------------------------------------------------

.navbar {
	@include transition(all 0.2s ease);
	@media (max-width: $screen-sm-min) {
		text-align: center;
		padding-bottom: 10px;
		background: rgba(76, 87, 96, 0.9);
	}

	.navbar-brand {
		@include transition(all 0.2s ease);
		max-width: 35%;
		@media (max-width: $screen-sm-min) {
			padding: 20px 50px 70px 50px;
			max-width: 100%;
			width: 100%;
			img {
				width: 300px;
				margin: 0 auto;
			}
		}
	}

	.navbar-nav {
		border: 0;
		box-shadow: none;
		max-height: initial;
	}

	.nav {
		@include transition(all 0.2s ease);
		float: right;
		margin: 0px 0 0 0;
		padding: 0;
		list-style: none;

		@media (max-width: $screen-md-min) {
			margin: 20px 0 0 0;
		}

		@media (max-width: $screen-sm-max) {
			float: none;
			display: inline-block;
		}

		@media (max-width: $screen-xs-max) {
			display: block;
		}

		li {
			display: inline-block;
		}

		a {
			display: block;
			margin: 0 5px;
			padding: 6px 10px;
			font-size: 1em;
			text-decoration: none;
			@media (min-width: $screen-sm-min) {
				padding: 6px 18px;
			}
		}

		.dropdown-menu {
			width: 300px!important;
			left: -100px;
			margin: 10px 0;
			padding: 10px;
			border-radius: 10px;
			.box {
				border: 0;
				border-radius: 10px;
				margin: 0;
			}
			.box-footer {
				border-radius: 10px;
			}
			label {
				display: block;
				clear: both;
			}

		}

	}
}

.navbar.affix {
	background-color: rgba(76, 87, 96, 0.9);
	@media (min-width: $screen-sm-min) {
		.navbar-brand {
			max-width: 175px;
			width: 175px;
		}

		.nav {
			margin: 10px 0;
		}
	}
}

@media (max-width: $screen-sm-min) {
	.navbar {
		position: absolute;
		.navbar-brand {
			float: none;
		}
		.nav {
			margin: 0;
			li {
				display: block;
				margin: 0;
				padding: 2px 0;
				.dropdown-menu {
					width: 100%;
				}
			}
		}
	}
	.hero {
		padding-top: 300px !important;
	}
}

//-----------------------------------------------------------------------
// hero
//-----------------------------------------------------------------------

.hero {
	position: relative;
	display: table;
	table-layout: fixed;
	padding: 150px 0 0 0;
	width: 100%;
	color: $color-white;
	background: $color-gray-blue url('../../assets/images/team-bg.jpg') bottom center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	@media(min-width: $screen-sm-min) {
	}
	@media(min-width: $screen-md-min) {
	}

	.btn {
		padding: 10px 40px;
	}
}

.hero__content {
	display: table-cell;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	@media(min-width: $screen-sm-min) {
		padding: 50px 0;
		text-align: left;
	}
	@media(min-width: $screen-md-min) {
		padding: 100px 0;
	}
}

.hero__scroll {
	@media(min-width: $screen-sm-min) {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -25px;
		width: 50px;
		height: 50px;
		z-index: 1;
		background: url('../../assets/images/arrow-down-icon.png') center center no-repeat;
		@include transition(all 0.2s ease);

		&:hover {
			background-position: center 25px;
		}
	}
}

.hero__media {
	width: 100%;
	height: 200px;
	overflow: hidden;
	background: url('../../assets/images/device-showcase.png') bottom center no-repeat;
	background-size: contain;
	@media(min-width: $screen-sm-min) {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40%;
		height: 100%;
		background: url('../../assets/images/device-showcase.png') bottom left no-repeat;
		background-size: inherit;
	}
}

.workflow__media {
	width: 100%;
	min-height: 600px;
	max-height: 700px;
}

  .hideUntilAnimated  {
	  position: relative;
	  display: none;
  }

  .isAnimated {
	  display: visible;
  }
//-----------------------------------------------------------------------
// footer
//-----------------------------------------------------------------------

.footer {
	background: $color-gray-white;
	border-top: 1px solid $color-gray-lighter;
}

.footer__logo {
	margin: 0 auto;
	max-width: 150px;
}

//--------------------------------------------------------------------------------
// checklist
//--------------------------------------------------------------------------------

.checklist {
	list-style: none;

	li {
		position: relative;
		margin: 0 0 10px 0;
	}

	li:before {
		position: absolute;
		content: "\f00c";
		top: 6px;
		left: -35px;
		width: 16px;
		height: 16px;
		font-family: FontAwesome;
		line-height: 1;
		color: $color-green;
	}
}

//-----------------------------------------------------------------------
// social
//-----------------------------------------------------------------------

.social {

	a {
		position: relative;
		top: 0;
		display: block;
		width: 50px;
		height: 50px;
		font-size: 24px;
		line-height: 50px;
		color: $color-white;
		background-color: $color-gray-light;
		@include border-radius(50%);
		@include transition(all 0.2s ease);

		&:hover {
			top: -5px;
			color: $color-white;
			background-color: $color-green;
		}
	}
}

//--------------------------------------------------------------------------------
// back to top
//--------------------------------------------------------------------------------

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: $color-gray url('../../assets/images/cd-top-arrow.svg') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
	@include transition(all 0.2s ease);
	@include border-radius(50%);
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 0.5;
}
.cd-top.cd-fade-out {
  opacity:  0.5;
}
.no-touch .cd-top:hover {
  background-color: $color-gray;
  opacity: 1;
}

//--------------------------------------------------------------------------------
// icon list
//--------------------------------------------------------------------------------

.icon-list {
	padding: 0;
	text-align: center;
	list-style: none;

	li {
		display: inline-block;
		margin: 0 0 40px 0;
		width: 49%;
		text-align: center;
		vertical-align: top;
		@media(min-width: $screen-sm-min) {
			width: 32%;
		}
		@media(min-width: $screen-md-min) {
			width: 24%;
		}
	}

	span {
		display: table;
		margin: auto auto 20px auto;
		width: 100px;
		height: 100px;
		border: 1px solid $color-gray-light;
		@include border-radius(50%);
	}

	i {
		display: table-cell;
		font-size: 30px;
		vertical-align: middle;
	}
}

//--------------------------------------------------------------------------------
// plan comparison table
//--------------------------------------------------------------------------------

.plan-table {

	.plan {
		min-height: 310px;
		margin-bottom: 20px;
		text-align: center;
		background-color: #f3f3f3;
		border-radius: 10px;

		@media(max-width: $screen-sm-min) {
			min-height: initial;
		}

		header {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			background-color: $color-green;
			font-weight: lighter;
			color: #ffffff;
			padding: 10px;
			line-height: 90%;

			h3 {
				font-size: 2em;
				margin: 0;
				padding: 0;
			}
		}

		div {
			padding: 10px 20px;
			line-height: normal;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					padding: 10px 0;
					border-bottom: 1px solid $color-gray-light;
					&:last-child {
						border: none;
					}
				}
			}
		}
	}
}

//--------------------------------------------------------------------------------
// sections
//--------------------------------------------------------------------------------

.section {
	padding: 100px 20px;
	border-bottom: 1px solid $color-gray-lightest;
}

//--------------------------------------------------------------------------------
// section - track support performance
//--------------------------------------------------------------------------------

.support {
	position: relative;
	overflow: hidden;
	@media(min-width: $screen-sm-min) {
		padding: 150px 0;
	}
}

.support__media {
	width: 100%;
	height: 300px;
	background: url('../../assets/images/phone-in-hand.png') bottom center no-repeat;
	background-size: contain;
	@media(min-width: $screen-sm-min) {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 48%;
		height: 90%;
		background-position: bottom left;
	}
}

//--------------------------------------------------------------------------------
// section - custom forms
//--------------------------------------------------------------------------------

.custom-forms {
	position: relative;
	overflow: hidden;
	@media(min-width: $screen-sm-min) {
		padding: 150px 0;
	}
}

.custom-forms__media {
	width: 100%;
	height: 300px;
	background: url('../../assets/images/custom-forms.png') center center no-repeat;
	background-size: contain;
	@media(min-width: $screen-sm-min) {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 48%;
		height: 100%;
		background-position: right center;
		background-size: inherit;
	}
}

//--------------------------------------------------------------------------------
// testimonial
//--------------------------------------------------------------------------------

.testimonial {
	position: relative;
	margin: 0;
	padding: 20px;
	font-size: 1em;
	border: 1px solid $color-gray-light;

	p {
		margin: 0;
	}

	p:first-child {
		margin: 0 0 $line-height 0;
	}

	img {
		position: absolute;
		right: 20px;
		bottom: -40px;
		width: 80px;
		height: 80px;
		@include border-radius(50%);
	}
}

.testimonial__name {
	position: absolute;
	bottom: -35px;
	left: 20px;
	margin: 0;
	font-size: .9em;
}

.testimonial-full {
	position: relative;
	display: none;
	color: $color-white;
	background: $color-gray-blue;
	img {
		position: absolute;
		left: 42%;
		margin-top: 20px;
		border: 1px solid #707f8a;
		box-shadow: rgba(0, 0, 0, .4) 0 5px 10px;
		z-index: 1;
		@include border-radius(50%);
	}
	.wrapped {
		background-color: #616f7a;
		margin: 70px 0 20px 0;
		padding: 70px 20px 20px 20px;
		border: 1px solid #707f8a;

		p:first-child {
			margin-top: 0;
		}
	}
}

a.testimonial-full__close {
	position: absolute;
	display: block;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	color: $color-white;
	background: $color-red;
	z-index: 1;
	border: 2px solid $color-white;
	@include border-radius(50%);

	&:hover {
		color: $color-white;
		background: $color-red-light;
	}
}

//--------------------------------------------------------------------------------
// skins
//--------------------------------------------------------------------------------

.skin-gray {
	color: $color-white;
	background: $color-gray-blue;
}

.skin-white {
	color: $color-gray;
	background: $color-white;
}

//--------------------------------------------------------------------------------
// spacing
//--------------------------------------------------------------------------------

.space {
	padding-bottom: 50px;
}

//--------------------------------------------------------------------------------
// sign up form
//--------------------------------------------------------------------------------

.sign-up-form {
	padding: 20px;
	color: $color-gray;
	background: $color-white;
	@include border-radius(4px);

	.btn {
		@include border-radius(40px);
	}

	p {
		margin: 0;
		text-align: center;
	}
}

} // end #splash


.required:after {
    content:" *";
    color: red;
  }
  .list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.p-forgotPassword {
	color: #6cbb45;
	cursor: pointer;
	
}


.mainnavigation{
	margin: 0!important;
}

@media (max-width: 767px){
	#splash {
		.navbar-brand{
			padding: 10px!important;
			margin: auto;
		}
		.mainnavigation{
			width: 100%;
			display: inline-block;
			.nav{
				display: inline-flex;
			}
		}
	}
}