<p>We need to verify your email address so you can use SmartTicket. Click <a href="{{linkToCreateAccount}}">Here</a> to verify your email</p>
<p>Thank you,<br>SmartTicket</p>
<p></p>
<p>If you have received this email in error, please contact your administrator or contact us through the <a href="{{smartTicketUrl}}">SmartTicket</a> web site.</p>
