.mat-tab-body-wrapper {
    padding: 0 15px!important;
}

.usersdiv {
    background-color: #ffffff;
    padding-top: 10px;
}
.super-admin-body {
    padding: 10px;
    border-radius: 0 0 3px 3px;
}

.btn-toolbar{
    width: 100%;
    margin: 10px 0;
}

.btn-group button{
    margin-left: 15px;
    border-radius: 5px!important;
}