.signaturediv{
    img {
        width:100%;
        margin-bottom: 10px;
    }
}

h2{
  margin: 0;
}

.signature-pad--body{
    h4{
        margin-bottom: 0;
      }
      canvas{
        border: 1px solid gray;
      }
}
.mat-footer{
  button{
    margin-left: 15px;
  }
}