commands:
    97-sdout-logs-permission:
        env:
            PATH: /sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/opt/elasticbeanstalk/node-install/node-v12.22.1-linux-x64/bin/
        command: sudo chmod 604 /var/log/web.stdout.log
    98-installphantom:
        env:
            PATH: /sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/opt/elasticbeanstalk/node-install/node-v12.22.1-linux-x64/bin/
        command: npm install -g phantomjs-prebuilt --unsafe-perm
    99-installphantom-dependencies:
        env:
            PATH: /sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/opt/elasticbeanstalk/node-install/node-v12.22.1-linux-x64/bin/
        command: sudo yum -y install fontconfig freetype freetype-devel fontconfig-devel libstdc++