<p>You have been added to the {{tenantName}} smart ticket system, please register by following <a href="{{linkToCreateAccount}}">this link</a></p>
<p>Thank you,<br>SmartTicket</p>
<p></p>
<p>If you have received this email in error, please contact your administrator or contact us through the <a href="{{smartTicketUrl}}">SmartTicket</a> web site.</p>
