
#user-controls{
    padding-top: 15px;
    margin-bottom: 30px;
    .user-controls-content{
       // background-color: #ffffff;
        padding-bottom: 20px;
    }
}
h3{
    margin: 0;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

#manager_user{
    margin-left: 10px;
}
.meta-controls{
    width: 100%;
}
#add_new_field{
    margin-bottom: 10px;
}