.dropdownMenuButton{
    padding: 0;
    height: 57px;
    text-align: center;
    line-height: 57px;
}
.logoimage{
    // width: 90px;
    // margin: 0% 25%;
    // display: unset;
    // height: 57px;
    height: 50px;
    vertical-align: top;
}
.brand-text{
    display: inline-block;
    // vertical-align: middle;
    line-height: 26px;
    font-weight: 600!important;
}