
.super-admin-body {
    background: #ffffff;
    width: 98%;
    margin-bottom: 100px;
}

.content-wrapper{
    margin-top: 57px;
}

.su-footer{
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1032;
}