.skin-blue{
	background-color: #96c93d !important;
	height: 100vh;
	.bg-theme{ 
		background-color: #96c93d !important;
	}
	
	.main-header{
		color: #fff;
		display:block;
		text-align: center;
		background-color: #88b933 !important;
		border-top: 4px solid #88b933;
    	border-bottom: 4px solid #88b933;
		line-height: 42px;
		white-space: nowrap;
		font-size: 20px;
		font-weight: 300;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		overflow: hidden;
    	text-overflow: ellipsis;
		height: 50px;
		margin:auto;
	}
	.login-form{
		.cotainer{		
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			.card{
    			border-radius: 3px;
    			background: #fff;
    			border-top: 3px solid #d2d6de;
    			margin-bottom: 20px;
				width: 100%;
				.card-header{
					display: inline-block;
    				font-size: 18px;
    				margin: 0;
    				line-height: 1;
				}
			}
		}
	}
}
h1{
	display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}