<p>You have been requested to change your password. To change your password please follow <a href="{{linkToTicket}}">this link</a>.</p>
<p>Thank you,<br>SmartTicket</p>
<p></p>
<p>If you have received this email in error, please contact your administrator or contact us through the <a href="{{smartTicketUrl}}">SmartTicket</a> web site.</p>
