<p>{{name}} has requested an invite.</p>
<p>View details and manage invites <a href="{{linkToSuDashboard}}">click here</a></p>
<p>Thank you,<br>SmartTicket</p>
<p></p>
<p>If you have received this email in error, please contact your administrator or contact us through the <a href="{{smartTicketUrl}}">SmartTicket</a> web site.</p>
