.usersdiv {
    background-color: #ffffff;
}
.manageRoles-grid {
    padding-top: 15px;
}

.btn-toolbar{
    width: 100%;
    margin: 10px 0;
}

.btn-group button{
    margin-left: 15px;
    border-radius: 5px!important;
} 
h3{
    margin: 0;
}