.box-theme{
    border-color: #EEEEEE;
    border-top-style: solid;
    border-top-color: rgb(58, 150, 211);
    border-top-width: 3px;
    padding-top: 0px;
    border-radius: 3px;
}
.box-title{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: normal;
    display: inline-block;
    font-size: 20px;
    color: #444444;
}

a {
    color: #3c8dbc
}
h3{
    margin:0;
}