.signaturediv{
    img {
        width:100%;
        margin-bottom: 10px;
    }
}


.signature-pad--body{
    h4{
        margin-bottom: 0;
      }
      canvas{
        border: 1px solid gray;
      }
}

h4{
  margin: 0;
}

p{
  margin: 0;
}