.add-option-error {
    color: #a94442;
    font-weight: bold;
  }
  .ql-editing{
    left: 5px !important;
  }
  
  h2{
    margin: 0!important;
    padding: 0!important;
  }

  .model .model-body .bodycontainer .body_content{
    padding: 0!important;
    margin-bottom: 15px;
  }

  .model .model-body .footer {
    padding: 15px 0 0;
}