.main-header{
    margin-left: 0!important;
}

.logoimage{
    width: 90px;
    margin: 0% 48%;
    display: unset;
    height: 57px;
}
.brand-text{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.cotainer{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.login-footer{
    width: 100%;
    border: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: #ffffff;
}
.bg-theme{
    height: 100vh;
}
.logo{
    text-align: center;
    .brand-text{
        height: 57px;
        font-size: 24px;
        padding-top: 15px;
    }
}

h1{
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}