.modal-body{
    margin:.5em;
  }

  .btn-section {
    margin-right: 1rem !important;
    text-align: right;
    margin-top: 1.5em;
  }

  .update-btn {
    margin: 5px;
  }

  .cancel-btn{
    margin: 5px;
    float: right;
  }

  h2{
    margin: 0;
  }
