.confirm-modal-body{
    margin:.5em;
    text-align: center;
  }

  .confirm-modal-header {
    padding: 0;
  }

  .btn-section {
    text-align: right;
    margin-top: 1.5em;

    button {
      margin: 5px;
    }
  }
  .caution {
    color: #ff0000;
    font-weight: bold;
    text-transform: uppercase;
  }

  h2{
    margin: 0!important;
  }